<a href="https://colab.research.google.com/github/ankitkafle1/jjttp2022_KafleAnkit/blob/main/Day2ForLoop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#for loop
#For-Loops
#A for loop acts as an iterator in Python, it goes through items that are in a sequence or any other iterable item. Objects that we've learned about that we can iterate over include strings,lists,tuples, and even built in iterables for dictionaries, such as the keys or values.

In [3]:
l = [1,2,3,4,5,6,7,8,9,10]
for i in l:
  print (i)

1
2
3
4
5
6
7
8
9
10

In [9]:
# Let's print only the even numbers from a list

mlist = [1,22,332,42,51,6,237,8,93,10, 55, 65, 76, 23, 87, 23, 9,41, 45, 66]
# In the previous line I created a list of numbers.

for number in mlist:
# in this line I create a for loop to iterate through my list of numbers.

  if number % 2 == 0:
  # in this line I am using a conditional statement 'if-statement' to determine if a number is even!
    print(number)
    # in this line I am printing the iterator oafter the conditional statemwent has been executed.

22
332
42
6
8
10
76
66

In [10]:
# Let's print only the even numbers from a list
mlist = [1,22,332,42,51,6,237,8,93,10, 55, 65, 76, 23, 87, 23, 9,41, 45, 66]
for number in mlist:
  if number % 2 == 0:
    print(number)
  else:
    print('Odd Number')

Odd Number
22
332
42
Odd Number
6
Odd Number
8
Odd Number
10
Odd Number
Odd Number
76
Odd Number
Odd Number
Odd Number
Odd Number
Odd Number
Odd Number
66

In [11]:
# Let's print only the odd numbers from a list

mlist = [1,22,332,42,51,6,237,8,93,10, 55, 65, 76, 23, 87, 23, 9,41, 45, 66]
# In the previous line I created a list of numbers.

for number in mlist:
# in this line I create a for loop to iterate through my list of numbers.

  if number % 2 != 0:
  # in this line I am using a conditional statement 'if-statement' to determine if a number is even!
    print(number)
    # in this line I am printing the iterator oafter the conditional statemwent has been executed.

1
51
237
93
55
65
23
87
23
9
41
45

In [13]:
d = {'k1':1,'k2':2,'k3':3}

In [17]:
for k,v in d:
    print(v)

1
2
3