<a href="https://colab.research.google.com/github/ankitkafle1/jjttp2022_KafleAnkit/blob/main/Day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Using the slicer Syntax

In [3]:
#Select a set of characters from “Hello World” to print
a = 'Hello World'
for char in a:
  print (char)

H
e
l
l
o

W
o
r
l
d

In [7]:
b = a[::-1]
print(b)

dlroW olleH

# Using the input() function

In [9]:
#print the user input in reverse
a = input(" Please enter a word: ")
print(a[::-1])

 Please enter a word: Ankit
tiknA

In [11]:
#Print user inpur in a sentence
a = input(" Please enter a word: ")
print(f"The user input is, {a}")

 Please enter a word: ANkit kafef
The user input is, ANkit kafef

In [18]:
#find the type of three object
a= True
b = 1.5
c = 'ankit'
print(type(a))
print(type(b))
print(type(c))

<class 'bool'>
<class 'float'>
<class 'str'>

#Perform Algebraic operations

In [19]:
#add two number together
print(5+5)

10

In [29]:
#find the suqaretoot of t numbers
import math
i = 0 
while i <5:
  print(math.sqrt(10 + i*10))
  i= i +1

3.1622776601683795
4.47213595499958
5.477225575051661
6.324555320336759
7.0710678118654755

In [31]:
#Find the whole number of 5 division problems
print(79//5)

15

#List and array

In [34]:
#Create tow list and combine them
a = [1,2,3,4,5]
b = [6,7,8,9,10]
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#Converting Objects

In [40]:
#COnvert 5 bojects form one type to antoher
a= int(4.5)
print(a)
b = float(5)
print(b)
a = True
k = int(a)
print(k)
a = '45'
r = int(a)
print(r +5)

4
5.0
1
50

In [42]:
#Convert a lowercase string to an UPPERCASE STRING

a = 'ankit'
b= a.upper()
print(b)

ANKIT

#Challenge Section

In [43]:
#Print out the word “Python”, one letter at a time
for char in "Python":
  print(char)

P
y
t
h
o
n

In [44]:
a= [3,4,5,2,4,5,3,2,4,5,6]
print(a[3])

2

In [49]:
print(this)

<module 'this' from '/usr/lib/python3.7/this.py'>